@tailwind base;
@tailwind components;
@tailwind utilities;

.fc .fc-toolbar-title {
  text-transform: string;
}

.fc .fc-toolbar-title::first-letter {
  text-transform: uppercase;
}

.fc .fc-col-header-cell-cushion {
  text-transform: capitalize;
}

.dark .fc .fc-col-header-cell {
  background-color: #27272a !important;
}

.dark .fc .fc-col-header-cell-cushion,
.dark .fc .fc-daygrid-day-number {
  color: #f4f4f5 !important;
}

.dark .fc td, 
.dark .fc th {
  border-color: #3f3f46 !important;
}